* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: wheat;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(165, 142, 101);
    padding: 1.20%;
}

h1 {
    display: inline-block;
    text-align: left;
    font-family: monospace;
    font-size: 250%;
    margin-left: 1%;
}

nav {
    margin-left: auto;
    margin-top: auto;
} 

nav ul {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding-right: 0.5;
}

a {
    color: rgb(23, 75, 189);
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

h2 {
    background-color: rgb(165, 142, 101);
    size: 100px;
    padding: 10px;
}

P {
    padding: 10px;
    padding-left: 20;
    font-size: 103%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
    width: 100%;
    height: 800px;
    grid-row: 2;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5px;
    border: gray;
    border-style: solid;
    border-width: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

.card {
    flex-wrap: 1 0 200px;
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img {
    background-image: url(../images/code.jpg);
}

.textbox {
    background-color: lightblue;
    opacity: 70%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.textbox a {
    font-size: 300%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 34, 28);
}

.textbox a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

#top {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 90%;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-top: 10px;
    border: lightseagreen;
    border-style: solid;
    border-width: 8px;
}

.jsSVG {
    height: 50px;
    width: 50px;
}

.htmlSVG {
    height: 50px;
    width: 50px;
}